@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Lato:wght@300;400&display=swap");

/* Color Theme Swatches in RGBA 
$js2-ca2-2-rgba: rgba(252, 252, 252, 0.8);
$js2-ca2-3-rgba: rgba(194, 130, 126, 1);
$js2-ca2-4-rgba: rgba(168, 19, 50, 1);
$js2-ca2-5-rgba: rgba(38, 29, 27, 1);
*/

* {
	box-sizing: border-box;
}
html,
body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Inconsolata", monospace;
	font-weight: 400;
	background: url(../images/shadow-palm-leaves-white-backdrop_1490x993.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

h1,
h3 {
	font-family: "Lato", sans-serif;
	margin: 1rem 0 2rem;
	color: rgba(168, 19, 50, 1);
}
h1 {
	padding: 0.25rem 3rem;
	margin-top: 1rem;
	text-shadow: -1px 1px 1px rgba(38, 29, 27, 1);
}

a.article {
	color: rgba(38, 29, 27, 1);
	text-decoration: none;
}

a.nav-link {
	color: rgba(252, 252, 252, 1) !important;
}

a.nav-link:active,
a.nav-link:hover,
a.active {
	color: rgb(245, 118, 143) !important;
}
a.nav-link:active,
.underline {
	text-decoration: underline;
}

span {
	font-family: "Lato", sans-serif;
}

.navbar {
	font-family: "Lato", sans-serif;
	padding-left: 3rem;
}

ul.navbar-nav {
	width: 100% !important;
	position: relative;
	align-items: flex-end;
}

ul.navbar-nav li {
	margin-right: 1rem;
}

ul.navbar-nav li:last-child {
	position: absolute;
	right: 1rem;
}

#welcomeMessage {
	color: rgb(245, 118, 143);
	text-shadow: 0.25px 0.25px rgba(252, 252, 252, 0.8);
	margin-left: 5rem;
	font-size: 0.9rem;
}

.fa-star {
	color: rgb(243, 231, 63);
	text-shadow: 0.25px 0.25px 1px rgba(38, 29, 27, 1);
	font-size: 1.8rem;
}

#smallStar {
	font-size: 1.1rem;
	margin-left: 0.2rem;
}

.favorite {
	position: absolute;
	font-size: 0.8rem;
	bottom: 1rem;
	right: 1rem;
	cursor: pointer;
}

.bg-dark {
	background-color: rgba(38, 29, 27, 1) !important;
}

.articles-search {
	background-color: rgba(252, 252, 252, 1);
	padding: 0.3rem 1rem;
	margin-left: 0.5rem;
	width: 70%;
	color: rgba(38, 29, 27, 1);
	border: 1px solid rgba(38, 29, 27, 1);
	box-shadow: 1px 1px 2px rgba(38, 29, 27, 0.25);
}
.search-box-container {
	width: 100%;
	margin: 0 auto 2rem;
	text-align: center;
}

.container {
	width: 90%;
	margin: 2rem auto 6rem;
	padding-bottom: 4rem;
	min-height: 100%;
	position: relative;
}

.articles-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}
.articles-container p {
	display: inline-block;
	margin-left: 1rem;
}
#articleSummary {
	margin-left: 0;
	padding-top: 0.5rem;
}

.article {
	margin: 1rem;
	padding: 1.5rem;
	background: rgba(252, 252, 252, 0.8);
	border: 1px solid rgba(38, 29, 27, 0.25);
	width: 320px;
	min-height: 400px;
	position: relative;
	box-shadow: 3px 3px 4px rgba(38, 29, 27, 0.25);
}

.form-container {
	margin: 2rem auto;
	padding: 2rem;
	background: rgba(252, 252, 252, 0.7);
	border: 1px solid rgba(38, 29, 27, 0.25);
	width: 500px;
	height: 320px;
	position: relative;
	box-shadow: 3px 3px 4px rgba(38, 29, 27, 0.25);
}

.add-article-form,
.edit-article-form {
	font-family: "Lato", sans-serif;
	position: relative;
	margin: 0 auto;
	width: 100%;
	min-height: 560px;
}
.edit-article-form {
	display: none;
}

#add-article-button,
#edit-article-button {
	width: 40%;
	padding: 0.5rem 0;
	position: absolute;
	bottom: 2rem;
	right: 0;
	box-shadow: 1px 1px 4px rgba(252, 252, 252, 1);
	border: none;
	background-color: rgb(60, 138, 60);
	color: rgba(252, 252, 252, 1);
	text-shadow: -1px 1px 1px rgba(38, 29, 27, 1);
}

.article-form-container {
	position: relative;
	height: 800px;
	width: 80%;
	margin: 0 auto;
	padding-top: 3rem;
}
#delete-button {
	width: 40%;
	padding: 0.5rem 0;
	position: absolute;
	top: 0;
	right: 0;
	box-shadow: 1px 1px 4px rgba(252, 252, 252, 1);
	border: none;
	background-color: rgba(168, 19, 50, 1);
	color: rgba(252, 252, 252, 1);
	text-shadow: -1px 1px 1px rgba(38, 29, 27, 1);
}

#summary {
	min-height: 200px;
}

label {
	width: 100%;
	margin: 0.5rem auto 0;
}

input,
#summary {
	width: 100%;
	margin: 0 auto;
	padding: 0.4rem;
}

#login-button {
	font-family: "Lato", sans-serif;
	width: 40%;
	margin-top: 2rem;
	padding: 0.5rem 0;
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	box-shadow: 1px 1px 4px rgba(252, 252, 252, 1);
	border: none;
	background-color: rgb(60, 138, 60);
	color: rgba(252, 252, 252, 1);
	text-shadow: -1px 1px 1px rgba(38, 29, 27, 1);
}

#clear-button:active,
#login-button:hover,
#loginButton:active,
#logoutButton:active,
#add-article-button:hover,
#add-article-button:active,
#delete-button:hover,
#delete-button:active {
	text-decoration: underline;
}

#clear-button,
#logoutButton {
	font-family: "Lato", sans-serif;
	padding: 0.5rem 1rem;
	box-shadow: 1px 1px 4px rgba(252, 252, 252, 1);
	border: none;
	background-color: rgba(168, 19, 50, 1);
	color: rgba(252, 252, 252, 1);
	text-shadow: -1px 1px 1px rgba(38, 29, 27, 1);
}
#clear-button {
	position: absolute;
	bottom: 0;
	right: 4rem;
}
#clear-button:hover,
#clear-button:active,
#logoutButton:active,
#logoutButton:hover,
#add-article-button:active,
#delete-button:active {
	border: 2px solid rgba(252, 252, 252, 1);
}

.feedbackMessage {
	background-color: rgba(252, 252, 252, 0.8);
	padding: 0.5rem 2em;
	border: 1px solid rgba(38, 29, 27, 0.25);
	box-shadow: 3px 3px 4px rgba(38, 29, 27, 0.25);
	margin: 2rem auto;
}

.error {
	color: rgba(252, 252, 252, 0.8);
	background-color: rgb(145, 50, 50, 1);
	border: 1px solid rgb(145, 50, 50);
}

.success {
	color: rgba(252, 252, 252, 0.8);
	background-color: rgb(60, 138, 60, 1);
	border: 1px solid rgb(60, 138, 60);
}

.warning {
	color: rgba(252, 252, 252, 0.8);
	background-color: rgb(243, 162, 12, 1);
	border: 1px solid rgb(243, 162, 12);
}

/* Loader Styles */
.lds-roller {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100px;
	margin: 2rem auto;
}
.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}
.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: rgba(94, 94, 94, 1);
	margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}
.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}
.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}
.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}
.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}
.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}
.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}
.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}
@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* End Loader Styles */
